.search__box {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
}

.search__input {
  display: flex;
  align-items: center;
  border: 1px solid lightgray;
  padding: 10px 20px;
  border-radius: 999px;
  height: 30px;
  width: 75vw;
  margin: 0 auto;
  max-width: 560px;
}

.search__input > input {
  border: none;
  width: 120px;
  flex: 1; /*takes the max width*/
  padding: 10px 20px;
  font-size: medium;
}

.search__input > input:focus {
  outline-width: 0;
}
.search__inputIcon {
  color: gray;
}

.search__button {
  justify-content: center;
  margin-top: 30px;
  display: flex;
}

.search__button button {
  padding: 7px 15px;
  margin: 5px;
  background-color: #f8f8f8 !important;
  border: 1px solid white;
  text-transform: inherit; /*lowers the text design */
  color: #5f6368;
}

.search__button button:hover {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  background-color: #f8f8f8 !important;
  border: 1px solid #c6c6c6;
  color: #222;
  background-image: -webkit-linear-gradient(top, #f8f8f8, #f1f1f1);
}
